<div class ='form-group'>
    <%= p.label :name, 'Name' %>
    <%= p.text_field :name, :class => "form-control" %>
</div>
<div class = 'form-group'>
    <%= p.label :units, 'Units' %>
    <%= p.text_field :units, :class => "form-control" %>
</div>
<div class = 'form-group'>
    <%= p.label :unit_price, 'Unit Price' %>
    <%= p.text_field :mobile, :class => "form-control" %>
</div>
<div class = 'form-group'>
    <%= p.label :date, "Date" %>
    <%= p.text_field :date, :class => "form-control" %>
</div>
    <%= p.submit "submit", :class => 'btn btn-success' %>